.left-half {
    width: 45vw; /* 50% da largura da tela */
    height: 50vh; /* 100% da altura da tela */
    border-top-right-radius: 60px;  /* Arredonda o canto superior direito */
    border-bottom-right-radius: 60px; /* Arredonda o canto inferior direito */
}

.big-button {
    width: 300px;
    height: 19%;
    font-size: 30px;
    font-style: bold;
}

.margin-top {
    margin-top: 50px;
}

.btn-orange {
    background-color: #07f9b0;
    color: aliceblue;
    width: 225px;
    font-weight: bold;
    cursor: pointer;
}

.btn-orange:hover {

    background-color: #672eba;
}